In [8]:
import warnings 
warnings.filterwarnings("ignore")
import numpy as np

data = np.loadtxt("경기도인구데이터.csv", delimiter=",", skiprows=1, dtype={'names': (
    "구분", "year_2007", "year_2008", "year_2009", "year_2010", "year_2011", "year_2012", "year_2013", "year_2014", "year_2015", "year_2016", "year_2017"),
    'formats' : (object ,np.int, np.int, np.int, np.int, np.int, np.int, np.int, np.int, np.int, np.int, np.int)
})
data[:5]


# 1. 파일 내용을 읽은 후 상위 5개 데이터 확인
print("1. 상위 5개 데이터 :\n", data[:5])


# 2. 배열 객체의 크기 확인
print("2. 입력된 배열 객체의 크기 :", data.shape)


# 3. 중복 지역 존재 여부 확인
dup_region = data['구분']

u, indices = np.unique(dup_region, return_inverse=True)
if u[np.bincount(indices) > 1]:
    print("3. 중복 지역 존재 여부 확인 : 중복지역 발생")
else:
    print("3. 중복 지역 존재 여부 확인 : 중복지역 없음")
    
    
# 4. 2017년 수원시 인구의 합
import re

total_population_suwon_2017 = 0
pattern = r"수원시"
for i in range(data.size):
    if re.match(pattern, data['구분'][i]):
        total_population_suwon_2017 = total_population_suwon_2017 + data['year_2017'][i]

print("4. 2017년 수원시 인구의 합 :", total_population_suwon_2017)


# 5. 2017년 인구가 50만이상이 지역 출력
fifethousand_region_2017 = []
for i in range(data.size):
    if data["year_2017"][i] > 500000:
        fifethousand_region_2017.append(data["구분"][i])
print("5. 2017년 인구 50만 이상 지역 :", fifethousand_region_2017)


# 6. 2017년 경기도 전체 인구의 시별 인구 평균
total_popuation_gyeongi_2017 = int(data['year_2017'].sum() / data.size)

print("6.경기도 지역별 평균 인구수 :", total_popuation_gyeongi_2017, "명")

1. 상위 5개 데이터 :
 [('수원시장안구', 287474, 285803, 290798, 293692, 290999, 291757, 300908, 301196, 299016, 296479, 293828)
 ('수원시권선구', 310553, 308177, 304097, 306783, 321176, 332633, 331773, 339835, 351053, 358393, 365653)
 ('수원시팔달구', 216945, 213235, 219833, 216503, 209772, 206794, 204805, 203479, 199180, 198515, 193311)
 ('수원시영통구', 252730, 260210, 258421, 260557, 266542, 289074, 310671, 329718, 335375, 340654, 349836)
 ('성남시수정구', 256744, 248452, 242161, 241070, 236123, 233997, 228167, 223539, 219531, 232841, 236932)]
2. 입력된 배열 객체의 크기 : (44,)
3. 중복 지역 존재 여부 확인 : 중복지역 없음
4. 2017년 수원시 인구의 합 : 1202628
5. 2017년 인구 50만 이상 지역 : ['성남시분당구', '남양주시', '화성시']
6.경기도 지역별 평균 인구수 : 292558 명

In [11]:
import warnings 
warnings.filterwarnings("ignore")
import pandas as pd

df = pd.read_csv("경기도인구데이터.csv", sep=',', engine='python')


# 1. 파일 내용을 읽은 후 상위 5개 데이터 확인
print("1. 상위 5개 데이터 :\n")
display(df.head(5))


# 2. 배열 객체의 크기 확인
print("2. 입력된 배열 객체의 크기 :", df.shape)


# 3. 중복 지역 존재 여부 확인
print("3. 중복 지역 존재 여부 확인 :")
display(df[df['구분'].duplicated()])


# 4. 2017년 수원시 인구의 합
import re

total_population_suwon_2017 = 0
pattern = r"수원시"
for i in range(len(df)):
    if re.match(pattern, df['구분'][i]):
        total_population_suwon_2017 = total_population_suwon_2017 + df['2017'][i]
print("4. 2017년 수원시 인구의 합 :", total_population_suwon_2017)


# 5. 2017년 인구가 50만이상이 지역 출력
fifethousand_region_2017 = []
for i in range(len(df)):
    if df["2017"][i] > 500000:
        fifethousand_region_2017.append(df["구분"][i])
print("5. 2017년 인구 50만 이상 지역 :", fifethousand_region_2017)


# 6. 2017년 경기도 전체 인구의 시별 인구 평균
################### 2017년 경기도 지역별 평균 인구수 ###################
total_popuation_gyeongi_2017 = int(df['2017'].sum() / len(df))
print("6-1. 2017년 경기도 지역별 평균 인구수 :", total_popuation_gyeongi_2017, "명")

################### 2017년 경기도 전체 인구의 시별 인구 평균 ###################
# 정규표현식을 통한 **시 필터링
pattern = re.compile(r"(\w+[시]\s*)")

for i in range(len(df)):
    m = pattern.match(df['구분'][i])
    # dismatch 시 pass
    if m == None:
         df.drop(i, inplace=True)
    else:
        df['구분'][i] = m.group()

# 도시별 인구수 평균화
means = round(df.groupby(df["구분"]).mean(),1)
print("6-2. 2017년 경기도 전체 인구의 시별 인구 평균 :")
display(means["2017"])

1. 상위 5개 데이터 :

,구분,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
1,수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
2,수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
3,수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836
4,성남시수정구,256744,248452,242161,241070,236123,233997,228167,223539,219531,232841,236932

2. 입력된 배열 객체의 크기 : (44, 12)
3. 중복 지역 존재 여부 확인 :

Empty DataFrame
Columns: [구분, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

4. 2017년 수원시 인구의 합 : 1202628
5. 2017년 인구 50만 이상 지역 : ['성남시분당구', '남양주시', '화성시']
6-1. 2017년 경기도 지역별 평균 인구수 : 292558 명
6-2. 2017년 경기도 전체 인구의 시별 인구 평균 :

구분
고양시     347327.7
과천시      57527.0
광명시     332790.0
광주시     345947.0
구리시     200042.0
군포시     281205.0
김포시     392092.0
남양주시    665321.0
동두천시     97071.0
부천시     282995.7
성남시     322503.3
수원시     300657.0
시흥시     419664.0
안산시     338855.0
안성시     182786.0
안양시     293882.0
양주시     212146.0
여주시     111984.0
오산시     213437.0
용인시     334693.7
의왕시     155767.0
의정부시    441584.0
이천시     213142.0
파주시     437848.0
평택시     481530.0
포천시     152925.0
하남시     232487.0
화성시     691086.0
Name: 2017, dtype: float64